
.tagline{
    color: bisque;
    margin-top: 10rem;
    margin-left: 10rem;
    margin-right: 10rem;
    padding:10px;
    text-align: center;
    background-color: black;
    border: solid 4px;
    border-color: bisque;
}

.start{
    text-align: center;
    padding: 30px;
    margin: 20px;
}
.startbtn{
    color: bisque;
    border-radius: 10px;
    background-color: black;
    border: solid 4px;
    border-color: bisque;
}

.bghome{
    /* background-image: url("https://www.transparenttextures.com/patterns/always-grey.png"); */
    /* background-color: aqua; */
    background-image: url('./wallpaperflare.com_wallpaper.jpg');
    padding: 5px;

}