.navbar{
    width: 100%;
    height: 5rem;
    display: grid;
    grid-template-columns: 10rem 1fr 3fr 1fr 10rem;
    background-color: aquamarine;
    box-shadow: inset;
}
.logo{
    display: grid;
    grid-column: 2/3;
    align-items: center;
}
.menu-links ul {
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social-media{

}

a {
    text-decoration: none;
}
  
  li {
    list-style: none;
  }
  