.header{
    padding-bottom:1px;
    color: antiquewhite;
    /* background-color: #bc56ff; */
    background-color:#0096bb;
    background-image:url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
}